venv/
__pycache__/
*.pyc
*xlsx
*.npy
*.csv
*.npz
data/
.pdf
training_data/
embedding_class_backup/
scratch/
# Allow requirements and package configuration files
!requirements.txt
!packages.txt
!requirement.txt